.page-window {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.page-window-container {
    height: 100%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow: auto;
}

.page-window-title {
    text-align: center;
    font-size: 30px;
}

.page-window-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-window-subtitle {
    font-size: 13px;
    color: #797979;
}

.page-window-header-right {
    display: flex;
    align-items: center;
}

.page-window-btn {
    border-radius: 10px;
    padding: 15px 15px;
    border: none;
}

.page-window-btn:hover {
    background-color: #797979;
    color: rgb(240, 240, 240);
}

.margin-right {
    margin-right: 20px;
}

.page-window-footer {
    text-align: end;
}

@media screen and (max-width: 700px) {
    .page-window {
        width: 100%;
    }

    .page-window-title {
        font-size: 20px;
    }

    .page-window-header {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-self: start;
    }

    .subtitle-container {
        margin: 10px 0px;
    }

    .page-window-btn {
        border-radius: 10px;
        padding: 10px 10px;
        border: none;
    }
}