.page-window {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.page-window-container {
    height: 100%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.page-window-title {
    text-align: center;
    font-size: 30px;
}

.page-window-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-window-subtitle {
    font-size: 15px;
    color: #797979;
}

.page-window-header-right {
    display: flex;
    align-items: center;
}

.page-window-btn {
    border-radius: 10px;
    padding: 15px 15px;
    border: none;
}

.page-window-btn:hover {
    background: linear-gradient(#ececeb, #eaeaea);
    box-shadow:
        inset rgba(0, 0, 0, .5) 0 -1px 1px,
        inset rgba(0, 0, 0, .2) 0 1px,
        rgba(0, 0, 0, .2) 0 1px 1px;
}

.page-window-btn:active {
    background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .1));
    box-shadow:
        inset rgba(0, 0, 0, .8) 0 1px 2px,
        inset rgba(0, 0, 0, .05) 0 -1px 0,
        #fff 0 1px 1px;
}

.margin-right {
    margin-right: 20px;
}

.page-window-footer {
    text-align: end;
}