.tree-container {
  background-color: #EEEEEE;
  width: 25%;
  height: 100%;
  overflow-y: scroll;
}

.node {
  padding-left: 20px;
}

.node-content {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  cursor: pointer;
  border-radius: 10px;
}

.directory-node-content {
  display: flex;
  align-items: center;
}

.page-node-content {
  padding: 5px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.page-btn {
  border: none;
  cursor: pointer;
  padding: 0px;
  font-size: 15px;
}

.node-content:hover {
  background-color: #d7d7d7;
}

.page-node-content:hover {
  background-color: #d7d7d7;
}

.page-btn:hover {
  background-color: #d7d7d7;
}

.page-node-content:hover .page-btn {
  background-color: #d7d7d7;
}

.directory-icon {
  cursor: pointer;
  margin-right: 5px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-size: cover;
  background-position: center;
  border: 0px;
}

.down-icon {
  background-image: url('../../public/down-icon.svg');
}

.right-icon {
  background-image: url('../../public/right-icon.svg');
}

.page-icon {
  cursor: pointer;
  margin-right: 5px;
  width: 20px;
  height: 20px;
  border: 0px;
}

.node-plus-button {
  border: none;
}

.tree-header {
  display: flex;
  justify-content: end;
  padding: 10px 0px;
}

.dropdown {
  margin: 0 10px;
}

.dropdown-menu-btn {
  width: 20px;
  height: 20px;
  background-image: url('../../public/menu.svg');
  background-color: transparent;
  background-size: cover;
  background-position: center;
  border: 0px;
  margin-right: 10px;
  cursor: pointer;
}

/* Выпадающий контент (по умолчанию скрыт) */
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 10;
}

/* Показываем выпадающий блок при наведении */
.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding: 10px 0px;
}

.dropdown-item-btn {
  border: 0px;
  background-color: #D8D4D4;
  cursor: pointer;
  padding: 10px 10px;
  opacity: 1;
  width: 100%;
  text-align: start;
}

.dropdown-item-btn:hover {
  background-color: #797979;
  color: rgb(240, 240, 240);
}

.directory-view-dropdown {
  display: none;
  margin: 0 5px;
}

.node-content:hover .directory-view-dropdown {
  display: block;
}

.edit-name {
  padding: 5px 5px;
  margin: 0;
  outline: none;
  border: none;
  border-radius: 10px;
  font-size: 15px;
}

@media screen and (max-width: 700px) {
  .tree-container {
    display: none;
  }

  .open-tree-container {
    display: block;
    width: 100%;
    top: 22px;
    position: absolute;
    z-index: 11;
  }

  .dropdown-content {
    left: 200px;
  }
}