.tree-container {
  background-color: #EEEEEE;
  width: 25%;
}

.tree-view {
  margin: 0;
  padding: 0;
  list-style: none;
}

.node {
  margin: 10px 0;
  padding-left: 20px;
}

.node-content {
  display: flex;
  justify-content: space-between;
}

.toggle-icon {
  cursor: pointer;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background-image: url('../../public/folder.svg');
  background-color: transparent;
  background-size: cover;
  background-position: center;
  border: 0px;
}

.page-icon {
  cursor: pointer;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background-image: url('../../public/file.svg');
  background-color: transparent;
  background-size: cover;
  background-position: center;
  border: 0px;
}

.node-plus-button {
  border: none;
}

.dropdown {
  margin: 0 10px;
}

/* Выпадающий контент (по умолчанию скрыт) */
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

/* Показываем выпадающий блок при наведении */
.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

.dropdown-item-button {
  border: 0px;
  background-color: #D8D4D4;
  cursor: pointer;
  padding: 10px 10px;
}

.dropdown-item-button:hover {
  background-color: #EEEEEE;
}

.dropdown-container {
  display: flex;
  justify-content: end;
}


input {
  padding: 10px;
  font-size: 24px;
}